body{
height:100vh;
background-color:rgb(228, 230, 230);
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
}
.card{
width:350px;
background-color: #ffffff;
padding: 20px;
text-align: center;
border-radius: 10px;
justify-content: center;
align-items: center;
box-shadow: 0px 2px 100px rgba(0,0,0,0.15);
}
h2{
color: black;
margin-bottom: 25px;
}
.input-gr{
text-align: left;
margin-bottom: 20px;
color: black;
}
label{
font-weight: 400;
color:black;
}
input{
box-sizing: border-box;
width: 100%;
padding: 12px;
margin-top: 6px;
border-radius: 6px;
border: 1px solid #ccc;
font-size: 15px;
}
.btn{
width: 100%;
padding: 12px;
background: #1e63e9;
color: #fff;
font-weight: 300;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 6px;
}
a{
margin-top: 15px;
display: block;
text-decoration: none; 
font-size: 14px;  
color:#5d5d5d ;
}
input:hover{
box-shadow: 0 4px 8px rgba(26, 128, 75, 0.3);
transform: scale(1.01);
transition: 0.3s ease; 
}
.btn:hover{
box-shadow: 0 8px 15px rgba(12, 12, 12, 0.619);
transform: scale(1.05);
transition: 0.3s ease; 
}